.container-fluid {
    background-image: url('./img/Comment-faire-du-sport-en-couple.jpg');
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maintitle{
    margin-top:10vh;
    color: red;
}

.connect {
    border-radius:5px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30vh;
    background-color:rgba(255,255,255,0.5);
}
.backgroundSign{
    background-image:url('./img/fe50b937a72b929acb2fee16873ba0a8.jpg');
}